body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

header {
  z-index: 1;
  height: 78px;
  background-color: rgb(255, 128, 0);
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 7px 10px 0px lightgray;
}

.logo {
  filter: brightness(0) invert(1);
  height: 36px;
  margin-right: 8px;
  cursor: pointer;
}

.logo-name {
  text-decoration: none;
  color: white;
}

.logo-name h1 {
  font-size: 18px;
}

.headtitle {
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.lang-icon {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 48px;
}

.menu-icon {
  height: 28px;
  width: 28px;
  filter: brightness(0%) invert(1);
}

.atf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.atf-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  display: flex;
  height: 100%;
}

.banner {
  width: 100%;
  height: 178px;
  object-fit: cover;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.content-u1 {
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 22px;
}

.content-menu {
  display: flex;
  justify-content: space-evenly;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 2px solid rgba(211, 211, 211, 0.25);
  margin-left: 16px;
}

.content-menu-b {
  text-decoration: none;
  color: black;
  padding-top: 8px;
}

.content-menu-b:hover {
    transition: 125ms;
}

.content-like-section {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.company-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.company-name h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 16px;
}

.reviews-section {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.star {
  height: 12px;
  margin-right: 2px;
}

.reviews {
  margin-left: 4px;
  font-size: 11px;
  color: black;
  cursor: not-allowed;
}

.info-button {
  height: 18px;
  margin-right: 16px;
  border: 10px solid rgba(211, 211, 211, 0.2);
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 50%;
  cursor: not-allowed;
}

.like-button {
  height: 18px;
  width: 18px;
  border: 10px solid rgba(211, 211, 211, 0.2);
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 48%;
  cursor: not-allowed;
}

footer {
  height: 48px;
  width: 100%;
  background-color: rgb(255, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  top: 100%;

}

/* Menu Box */

.menucard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;    
}
.menubox {
  width: 80%;
  border: 1px solid rgba(211, 211, 211, 0.4);
  border-radius: 20px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.menu-img {
  height: 176px;
  max-width: 154px;
  object-fit: contain;
  border-radius: 20px;
  margin-right: 16px;
}

.plus-button {
  height: 18px;
  margin-right: 8px;
  border: 10px solid rgba(211, 211, 211, 0.2);
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 50%;
}

.plus-button:hover {
  height: 18px;
  margin-right: 8px;
  border: 10px solid rgba(211, 211, 211, 0.9);
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 50%;
  transition: 100ms;
}

.info-button-menu {
  height: 18px;
  cursor: not-allowed;
}

.menu-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.menu-title-undersection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-img-section {
  display: flex;
  align-items: center;
}

.price-section {
  margin-top: 16px;
}
/* Cart-Section */

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  height: 140vh;
  width: 35%;
  background-color: transparent;
  position: sticky;
  top: 0;
  box-shadow: 4px 0px 12px -6px rgba(0,0,0,0.75);
  border-left: 1px solid rgba(211, 211, 211, 0.2);
}

.empty-cart {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  text-align: center;
}

.bicycle-button {
  height: 28px;
  margin-right: 8px;
  margin-left: 16px;
}

.takeaway-button {
  height: 28px;
}

.delivery-img-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 58px;
  width: 55%;
  border-radius: 47px;
  background-color: white;
  margin-right: 16px;
  margin-left: 4px;
  padding-right: 16px;
}

.delivery-img-section p {
  margin: 0;
  font-size: 11px;
}

.takeaway-img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  cursor: not-allowed;
}

.takeaway-img-section p {
  margin: 0;
  margin-right: 11px;
  width: 50%;
  font-size: 11px;
  margin-left: 11px;
}

.delivery-takeaway-img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: rgba(128, 128, 128, 0.2);
  margin: 16px;
  border-radius: 50px;
}

.cart-menu-card {
    width: 90%;
}

.selectedMeal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  
}

.selectedMeal-section-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-cart-card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.25);
}

.add-meal {
    height: 0px;
    width: 0px;
    margin-left: 8px;
    border: 16px solid rgba(211, 211, 211, 0.2);
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
}

.add-meal:hover {
    height: 0px;
    width: 0px;
    margin-left: 8px;
    border: 16px solid rgba(211, 211, 211, 0.4);
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
    transition: 100ms;
}

.less-meal {
    height: 0px;
    width: 0px;
    margin-right: 8px;
    border: 16px solid rgba(211, 211, 211, 0.2);
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
}

.less-meal:hover {
  height: 0px;
    width: 0px;
    margin-right: 8px;
    border: 16px solid rgba(211, 211, 211, 0.4);
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
}

.less-meal-section {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-meal-section {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
  offset: 100px;
}

.total-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.total-section table {
    margin-bottom: 16px;
}

.free-delivery {
  margin-top: 16px;
}

.order-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.order-button {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: rgb(255, 128, 0);
    margin: 16px;
    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 50px;
    color: white;
    gap: 8px;
    cursor: pointer;
}

.close-cart {
  height: 0px;
    width: 0px;
    margin-right: 8px;
    border: 16px solid rgba(211, 211, 211, 0.2);
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: black;
    margin-bottom: 8px;
    text-decoration: none;
}

.close-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 48px;
}

.d-none {
  display: none;
}

@media (max-width: 800px) {
  .cart {
    width: 100%;
  }
  .quantity-cart-card {
    justify-content: center;
  }
  .selectedMeal-section-title {
    justify-content: space-evenly;
  }
  .lang-icon {
    margin-right: 16px;
  }
  .logo-name {
    display: none;
  }
  .content {
    width: 100%;
  }
  .content-u1 {
    padding: 4px;
    margin-right: 8px;
  }
  .content-menu {
    justify-content: space-around;
    gap: 16px;
  }
  .menu-img {
    height: 124px;
  }
  .menubox {
    flex-direction: column;
  }
  .plus-button {
    margin-top: 16px;
  }
  .price-sign {
    margin-top: 16px;
  }
  .menu-img {
    margin-top: 16px;
  }

  .cart-button {
    width: 164px;
    height: 48px;
    background-color: rgb(255, 128, 0);
    border: 1px solid rgba(211, 211, 211, 0.4);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-button p {
    margin: 2px;
  }
}

.open-cart-media {
  width: 100%;
  position: sticky;
  bottom: 64px;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.end {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}